* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(photo10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*NAVIGATION BAR START*/

nav {
    width: 100%;
    height: 70px;
    /* border:2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
    z-index: 2;
}



.logo {
    width: 40%;
    height: 70px;
    font-family: fantasy;
    font-weight: bold;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 51px;
    position: relative;
    top: -2px;
    padding-right: 51px;
}

.main {
    width: 60%;
    height: 60px;
    /* border:2px solid black; */
    padding: 0;
    margin-right: 7px;
}

.main a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    height: 50px;
    font-family: lato;
    font-weight: bold;
    background-color: ivory;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s;
}

.main a:hover {
    background-color: #305753;
    color: black;
}

.main ul {
    list-style: none;
    display: flex;
}

.main li {
    width: 100%;
    text-align: center;
    position: relative;
    border: 1px solid black;
}

.main li:hover .sub>li {
    display: block;
    top: 0px;
    position: relative;
}

.sub li {
    display: none;
    position: absolute;
    top: 0px;
}

.sub {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}


/* NAVIGATION BAR END */


/* HOME PAGE START*/

.cont {
    /* border: 2px solid black; */
    width: 80%;
    height: 700px;
    margin-left: 90px;
    margin-top: -37px;
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 700px;
    grid-template-areas: "a b";
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.side {
    grid-area: a;
    margin: 10px;
}

.products div {
    margin-top: 59px;
    padding-left: 15px;
    font-size: 31px;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 5px;
    width: 90%;
    margin-left: 10px;
    border-left: 5px solid rgb(255 176 182);
}

div .products {
    margin-top: 41px;
    width: 90%;
    height: 512px;
    /* border: 2px solid black; */
    background-color: rgb(78 50 50 / 16%);
    border-radius: 18px;
    box-shadow: 2px 2px rgb(255 176 182);
}

.side a {
    text-decoration: none;
    color: black;
}

.img {
    grid-area: b;
    margin: 10px;
    margin-top: 33px;
    /* margin-left: 300px; */

    /* background-color: rgb(78 50 50 / 16%); */
}

.slider {
    overflow: hidden;
    width: 524px;
    margin: auto;
    border-radius: 50px;
    border-top: 12px solid #dab2cc;
    border-bottom: 12px solid #dab2cc;
    border-left: 12px solid #febdb7;
    border-right: 12px solid #febdb7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.slider ul {
    padding: 0;
    width: 2500px;
    list-style: none;
    position: relative;
    animation: img-slider 10s ease-in-out infinite;
    -webkit-animation: img-slider 10s ease-in-out infinite;
}

.slider ul li {
    float: left;
    position: relative;
    height:633px;
}


/* #slider div {
    position: relative;
    width: 500%;
    height: 20%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
    -webkit-animation: 15s slider infinite;
}

#slider div img {
    width: 500px;
    object-fit: cover;
    float: left;
    background-size: cover;
    background-position: center;
} */

@keyframes img-slider {
    5%,
    10% {
        left: 0;
    }
    15%,
    30% {
        left: -500px;
    }
    35%,
    50% {
        left: -1000px;
    }
    55%,
    70% {
        left: -1500px;
    }
    75%,
    90% {
        left: -2000px;
    }
}